<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Parnkaew</title>
</head>
<body>
    <h1><span style="color:#f00">Pang</span>
        <span style="color:#FFA833">Pu</span>
        <span style="color:#FFE933">Ri</span>
        <span style="color:#5f0">Yeah!</span>
    </h1>
<!--    <h1 th:each="customer : ${allCustomers}" th:text="${customer}"></h1>-->

    <h1>All Customers</h1>

    <table border="2px solid" width="300">
        <tr style="background-color:#D5BEEC"><th>Id</th> <th>Name</th></tr>

        <tr th:each="customer : ${allCustomers}">
            <td th:text="${customer.id}"></td>
            <td th:text="${customer.name}"></td>
        </tr>

    </table>

    <h1>Register Customer</h1>
    <form action="#" th:action="@{/customer}" method="POST">
        <label for="inputId">Id</label>
        <input type="input" name="id" id="inputId">
        <label for="inputName">Name</label>
        <input type="input" name="name" id="inputName">

        <label for="inputPin">Pin</label>
        <input type="password" name="pin" id="inputPin">

        <input type="submit">
    </form>
    <hr>
</body>
</html>